@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
/* styles/globals.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  color: #333333;
  background-color: #f7f7f7;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  margin: 1.5rem 0;
  color: #424242;
}

form {
  width: 100%;
  max-width: 500px;
}

input {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  font-size: 1.1rem;
  border: 1px solid rgba(22, 165, 218, 0.5);
  border-radius: 0.25rem;
  background-color: #f7f7f7;
  transition: all var(--transition-base);
  outline: none;
}

input:focus {
  border-color: #16a2da;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(22, 165, 218, 0.25);
}

input[type='password'] {
  letter-spacing: 1px;
}

input::placeholder {
  color: #999999;
}

.error {
  font-size: 0.8rem;
  color: #ff0000;
  margin: 0.25rem 0;
}

.submit-button {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  font-size: 1.1rem;
  border-radius: 0.25rem;
  background-color: #16a2da;
  color: #fff;
  transition: background-color var(--transition-base);
  outline: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0a87bd;
}

.submit-button:disabled {
  background-color: #b2b2b2;
  cursor: default;
}

.submit-button:disabled:hover {
  background-color: #b2b2b2;
}